@charset "utf-8";
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body{
	overflow:hidden;
	height:100vh;
	background:#FFF4FF;
}
span{
	position:absolute;
	background:url('../images/aaa.png');
	background-size:cover;
	pointer-events: none;
	transform:translate(-50%,-50%);
	border-radius:50%;
	animation: animate 4s linear infinite;
}
@keyframes animate{
	0%{
		transform:translate(-50%,-50%);
		opacity:1;
	}
	100%{
		transform:translate(-50%,-1000%);
		opacity:0;
	}
}

